@model VS2019LaunchDemoFinale.Models.Liga

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>
	@Html.DisplayFor(modelItem => modelItem.Name)
</h1>
<p>
	<a asp-action="EditName">Edit Liga Name</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				Key
			</th>
			<th>
				Name
			</th>
			<th>
				Code
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clubs) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Key)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Code)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Key">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Key">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
